body {
  font-family: "Product Sans";
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.container {
  height: 80vh;
  text-align: center;
}

.form {
  position: relative;
  top: 55%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

input {
  width: 330px;
  height: 20px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #594413;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.24);  
}

#error {
  width: 350px;
  color: rgb(140, 31, 31);
  margin: 0px auto;
  text-align: left;
  padding: 5px;
}

button {
  box-sizing: content-box;
  width: 333px;
  padding: 10px;
  margin: 10px;
  color: white;
  background-color: #594413;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.24);  
  border: none;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: #735818;
}

#dashboard {
  text-align: center;
}

#leaderboard {
  background-color: #594413;
  color: white;
  border-radius: 10px;
  padding: 1px 20px 20px;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.24);  
  width: 300px;
  margin: auto;
  text-align: left;
}

table {
  width: 100%;
}

#title {
  text-align: left;
  margin: auto;
  padding-left: 15px;
  padding-bottom: 5px;
  width: 335px;
}

.leaderboard-rank {
  font-size: 24px;
  padding-left: 6px;
}

.leaderboard-name {
  font-size: 24px;
  padding-left: 10px;
}

.leaderboard-number {
  text-align: right;
  font-size: 24px;
}

#star-of-the-month {
  background-color: #594413;
  color: white;
  border-radius: 10px;
  padding: 1px 20px 20px;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.24);  
  width: 300px;
  margin: auto;
  text-align: left;
  margin-bottom: 10px;
}

#star-description, .bad-description {
  display: flex;
  justify-content: center;
}

#min-number, #max-number, #bad-data-number, #bad-data-date {
  margin: 16px 4px 0px;
}

#min, #max, #bad-data {
  text-align: center;
  margin-top: 30px;
}

#pray {
  background-color: #594413;
  color: white;
  border-radius: 10px;
  padding: 1px 20px 20px;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.24);  
  width: 300px;
  margin: auto;
  text-align: left;
  margin-bottom: 10px;
}

#last-updated {
  text-align: left;
  margin: auto;
  width: 335px;
  padding-bottom: 10px;
  padding-left: 5px;
}

#bad-data-number {
  text-align: center;
}

#logo {
  height: 96px;
  width: 96px;
}

#title-logo {
  height: 36px;
  width: 36px;
  object-fit: contain;
}

#title-div {
  display: flex;
  align-items: center;
  padding-left: 7.5px;
  max-width: 340px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 10px;
}

#image {
  flex-shrink: 0;
}

.leaderboard-rank-emoji {
  font-size: 24px;
}