body {
  font-family: "Product Sans";
  user-select: none;
}

.container {
  height: 80vh;
  text-align: center;
}

.form {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

input {
  width: 330px;
  height: 20px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #594413;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.24);  
}

#error {
  width: 350px;
  color: rgb(140, 31, 31);
  margin: 0px auto;
  text-align: left;
  padding: 5px;
}

button {
  box-sizing: content-box;
  width: 335px;
  padding: 10px;
  margin: 10px;
  color: white;
  background-color: #594413;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.24);  
  border: none;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: #735818;
}

#dashboard {
  text-align: center;
}

#leaderboard {
  background-color: #c08b10;
  color: white;
  border-radius: 10px;
  padding: 1px 20px 20px;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.24);  
  width: 315px;
  margin: auto;
  text-align: left;
}

table {
  width: 100%;
}

#title {
  text-align: left;
  margin: auto;
  margin-top: 25px;
  padding: 20px;
  width: 350px;
}

.leaderboard-rank {
  font-size: 24px;
}

.leaderboard-name {
  font-size: 24px;
  padding-left: 10px;
}

.leaderboard-number {
  text-align: right;
  font-size: 24px;
}

#star-of-the-month {
  background-color: #c08b10;
  color: white;
  border-radius: 10px;
  padding: 1px 20px 20px;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.24);  
  width: 315px;
  margin: auto;
  text-align: left;
  margin-bottom: 10px;
}

#star-description {
  display: flex;
  justify-content: center;
}

#max-number {
  margin: 16px 4px 0px;
}

#max {
  text-align: center;
  margin-top: 30px;
}

#pray {
  background-color: #c08b10;
  color: white;
  border-radius: 10px;
  padding: 1px 20px 20px;
  box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.24);  
  width: 315px;
  margin: auto;
  text-align: left;
  margin-bottom: 10px;
}

#bad-data {
  text-align: center;
  margin-top: 30px;
}

.bad-description {
  display: flex;
  justify-content: center;
}

#bad-data-number {
  margin: 16px 4px 0px;
}

#bad-data-date {
  margin: 16px 4px 0px;
}